.bar-color {color:#000!important;background-color:#f1f1f1!important}
@media (prefers-color-scheme: dark) {
    body {background-color: black;color: white;}
    .bar-color{color:#000!important;background-color:#707070!important}
    .w3-button{color: white}
    .w3-container p{color: white}
    input[type=text], select{background-color: #4c4c4c;}
    input[type=text]::placeholder, select::placeholder{color: #9e9e9e;opacity: 1;}
    .w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#37823a!important}
}